
 <h1>Description : </h1>

 <h3>Cafe Management System is a windows form application developed in Spring Boot programming <br>
  language to carry out and manage basic cafe operations efficiently. This win application is perfect for a cafe or small coffee shop owners where they are in
  need of an application to run and simply ease out their day to day managerial task. </h3>
  <h3>Posist’s Inventory Management gives you in-depth insight into the amount of Stock consumed, and the amount left at the end of each day. View Variance reports and keep a track of the wastage and pilferage happening at your restaurant.</h3>
