<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Enter your Resistered Email</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="forgotPassword">
    <div fxFlex fxLayout="column">
      <!-- email -->

      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="forgotPassword.controls.email.touched && forgotPassword.controls.email.invalid">
          <span *ngIf="forgotPassword.controls.email.errors.required">This feild is mandatory</span>
          <span *ngIf="forgotPassword.controls.email.errors.pattern">This feild is invalid</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<!-- Button -->

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(forgotPassword.valid &&forgotPassword.dirty)">
    <mat-icon>login</mat-icon> Request OTP
  </button>

</mat-dialog-actions>
