<footer class="home" id="home">

  <div class="content">
    <h1>Welcome to our Cafe</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam tempora, labore autem vero beatae maxime Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Numquam similique commodi illo illum animi voluptatum iure
      minus quia, repellendus labore. Culpa, minima! aque iste enim modi nulla minus suscipit ducimus debitis odit
      quibusdam a quas, soluta voluptates quisquam provident!
    </h2>

  </div>


  <div class="image">
    <img src="../../../assets/img/burger2.png" alt="">
  </div>

</footer>
