<!-- Header -->
<mat-card>
  <b><span>Manage Product </span></b>
  <button mat-flat-button color="primary" class="float-right" (click)="handleAddActions()">
    <mat-icon>add_circle</mat-icon>Add Product
  </button>
</mat-card>

<hr />

<!-- Filter -->
<mat-card>
  <mat-form-field appearnce="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</mat-card>

<hr />

<!-- Table -->
<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="slno">
      <th mat-header-cell *matHeaderCellDef>
        <b style="color: rgb(164, 17, 166)">
          <h3><b>S.No</b></h3>
         </b>
      </th>
      <td mat-cell *matCellDef="let i=index">{{i+1}}</td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <b style="color: rgb(164, 17, 166)">
          <h3><b>Name</b></h3>
        </b>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef>
        <b style="color: rgb(164, 17, 166)">
          <h3><b>Category Name</b></h3>
        </b>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>
        <b style="color: rgb(164, 17, 166)">
          <h3><b>Image</b></h3>
        </b>
      </th>
      <td mat-cell *matCellDef="let element"><img src="{{ element.image }}" style="width: 60px;height: 40px;"></td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>
        <b style="color: rgb(164, 17, 166)">
          <h3><b>Description</b></h3>
        </b>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>
        <b style="color: rgb(164, 17, 166)">
          <h3><b>Price</b></h3>
        </b>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency:'INR':'symbol':'2.2-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        <b style="color: rgb(164, 17, 166)">
          <h3><b>Action</b></h3>
        </b>
      </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Delete" (click)="handleDeleteAction(element)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-slide-toggle (change)="onChange($event.checked, element.id)" matTooltip="Activate or Deactivate Product"
          [checked]="element.status"></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<hr>
<!-- Ag-Grid -->
<app-ag-grid></app-ag-grid>
