<section id="about">
  <div class="container">
      <div class="row gy-4 align-items-center">
          <div class="col-lg-5">
              <img src="../../../assets/img/about_new.png" alt="">
          </div>
          <div class="col-lg-5 about-us">
              <h1>About us</h1>
              <div class="divider my-4"></div>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo nesciunt voluptates doloribus
                  quidem. Dignissimos, asperiores molestias?</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur adipisci velit corporis
                  debitis blanditiis hic, ipsam magni exercitationem ullam quibusdam a ad!</p>
              <a href="#" class="btn btn-brand">Explore Menu</a>
          </div>
      </div>
  </div>
</section>
